body { background-color: window; color: windowtext}
a:link { color:#008000;text-decoration:none;}
a:visited { color:#800000;text-decoration:none;}
a:active { color:#008000;text-decoration:underline;}
a:hover { color:#008000;text-decoration:underline;}
div { font-family:Arial,sans-serif;font-size:x-small; }
.s1 { margin-left:0pt;text-indent:0pt;width: 11pt; }
.s2 { margin-left:0pt;text-indent:0pt;width: 57pt; }
.s3 { margin-left:0pt;text-indent:0pt;width: 113pt; }
.s4 { margin-left:0pt;text-indent:0pt;width: 130pt; }
.s5 { margin-left:0pt;text-indent:0pt;width: 84pt; }
.s6 { margin-left:0pt;text-indent:0pt;width: 79pt; }
.s7 { margin-left:0pt;text-indent:0pt;width: 255pt; }
.s8 { width: 72pt; }
.s9 { width: 72pt }
.s10 { width: 199pt;font-family:Courier New; }
.s11 { margin-left:0pt;text-indent:0pt;width: 113pt;font-family:Courier New; }
.s12 { width: 141pt; }
.s13 { margin-left:0pt;text-indent:0pt;width: 141pt; }
.s14 { font-family:020b0604020202020204; }
.p1 { margin-top:0;margin-bottom:0;color:#0000FF;font-size:large; }
.p2 { margin-top:0;margin-bottom:0; }
.p3 { margin-top:0;margin-bottom:0;text-indent:-11pt;margin-left:11pt; }
.p4 { margin-top:0;margin-bottom:0;text-indent:-57pt;margin-left:57pt; }
.p5 { margin-top:0;margin-bottom:0;font-size:small; }
.p6 { margin-top:0;margin-bottom:0;margin-left:11pt;font-size:small; }
.p7 { margin-top:0;margin-bottom:0;margin-left:11pt; }
.p8 { margin-top:0;margin-bottom:0;font-family:Courier New; }
.p9 { margin-top:0;margin-bottom:0;text-indent:-113pt;margin-left:113pt; }
.p10 { margin-top:0;margin-bottom:0;text-indent:-130pt;margin-left:130pt; }
.p11 { margin-top:0;margin-bottom:0;text-indent:-79pt;margin-left:79pt; }
.p12 { margin-top:0;margin-bottom:0;text-indent:-255pt;margin-left:255pt; }
.p13 { margin-top:0;margin-bottom:0;text-indent:-255pt;margin-left:255pt;font-size:small; }
.p14 { margin-top:0;margin-bottom:0;text-indent:-113pt;margin-left:226pt; }
.p15 { margin-top:0;margin-bottom:0;margin-left:113pt; }
.p16 { margin-top:0;margin-bottom:0;text-indent:-113pt;margin-left:113pt;font-size:small; }
.p17 { margin-top:0;margin-bottom:0;text-indent:-141pt;margin-left:141pt; }
.p18 { margin-top:0;margin-bottom:0;font-family:020b0604020202020204; }
