.s1 { margin-left:-11pt;text-indent:0pt;width: 11pt; }
.s2 { margin-left:-57pt;text-indent:0pt;width: 57pt; }
.s3 { margin-left:-113pt;text-indent:0pt;width: 113pt; }
.s4 { margin-left:-130pt;text-indent:0pt;width: 130pt; }
.s5 { margin-left:-79pt;text-indent:0pt;width: 84pt; }
.s6 { margin-left:-79pt;text-indent:0pt;width: 79pt; }
.s7 { margin-left:-255pt;text-indent:0pt;width: 255pt; }
.s11 { margin-left:-113pt;text-indent:0pt;width: 113pt;font-family:Courier New; }
.s13 { margin-left:-141pt;text-indent:0pt;width: 141pt; }
